body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2185B;
}

.hero-container {
    position: relative;
    background-image: url('{{ url_for("static", filename="heart3.png") }}');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1350px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.heading-logo-left, .heading-logo-right {
    width: 65px; /* Adjust logo size */
    height: 90px;
    margin: 10px; /* Space between the images and the text */
}

h1 {
    font-size: 69px; /* Adjust size as needed */
    color: #800080;
    margin-bottom: 10px;
    text-align: center; /* Center the heading */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 
        2px 2px 4px rgba(255, 255, 255, 0.4), /* first shadow */
        -2px -2px 4px rgba(255, 255, 255, 0.4), /* second shadow */
        4px 4px 6px rgba(255, 255, 255, 0.3), /* third shadow */
        -4px -4px 6px rgba(0, 0, 0, 0.3); /* fourth shadow */
}


.slogan {
    font-size: 34px;
    color: #5a009a;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #c2b7b7;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b6196d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #80004f;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
}

.radio-group input[type="radio"] {
    margin: 0 10px;
}

.radio-group label {
    font-weight: normal;
}
